<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<base href="/" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" type="text/css" href="css/main.css">
<title>Spring Security</title>
</head>

<body>
	<div class="header-classic fixed-top fadeInDown">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<nav th:insert="~{/home/_menu.html :: navbar}"></nav>
				</div>
			</div>
		</div>
	</div>

	<section class="header">
		<div class="container text-center fadeInUp">
			<h2>[[#{lg.titlelogin}]]</h2>
		</div>
	</section>

	<section class="lab">
		<div class="container">
			<div class="col-md-6 m-auto d-block px-2">
				<div th:if="${message}" th:text="${message}" class="alert alert-warning fadeInUp my-3"></div>
			</div>
			<div class="row d-flex align-items-center">
				<div class="col-md-6 m-auto d-block fadeInUp">
					<h1 class="mb-3">[[#{lg.login}]]</h1>
					<div class="my-3">
						<a href="/oauth2/authorization/google" class="btn btn-outline-primary">
							<i class="fab fa-google"></i> Google
						</a>
						<a href="/oauth2/authorization/facebook" class="btn btn-outline-primary">
							<i class="fab fa-facebook"></i> Facebook
						</a>
					</div>
					<form action="auth/login" method="post">
						<div class="form-group">
							<label>[[#{lg.username}]]:</label>
							<input class="form-control" type="text" name="username" th:placeholder="#{lg.phusername}">
						</div>
						<div class="form-group">
							<label>[[#{lg.password}]]:</label>
							<input class="form-control" type="password" name="password" th:placeholder="#{lg.phpassword}">
						</div>
						<div class="form-group form-check">
							<input type="checkbox" class="form-check-input" name="remember" checked="checked">
							<label class="form-check-label">[[#{lg.remember}]]</label>
						</div>
						<button class="btn btn1 btn-primary">[[#{lg.login}]]</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="who">
						<img th:src="@{/img/logo.png}" style="margin: -15px auto; width: 65%;">
						<span>Thực học - Thực nghiệp</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="links">
						<h3 th:text="#{foot.info}">Info</h3>
						<ul>
							<li>
								<span>PS18293</span>
							</li>
							<li>
								<span>Nguyễn Hoàng Duy</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="links">
						<h3 th:text="#{foot.service}">Services</h3>
						<ul>
							<li>
								<a href="javascript:;">Web Design</a>
							</li>
							<li>
								<a href="javascript:;">Development</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="social">
						<h3 th:text="#{foot.social}">Social Media</h3>
						<div class="icon">
							<a href="javascript:;">
								<i class="fab fa-twitter"></i>
							</a>
						</div>
						<div class="icon">
							<a href="javascript:;">
								<i class="fab fa-dribbble"></i>
							</a>
						</div>
						<div class="icon">
							<a href="javascript:;">
								<i class="fab fa-instagram"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="bottom">
		<h3>Copyright &copy; 2022 JAVA6. All right reserved.</h3>
	</div>

	<script src="js/plugins/jquery-3.4.1.min.js"></script>
	<script src="js/plugins/popper.min.js"></script>
	<script src="js/plugins/bootstrap.min.js"></script>
	<script src="js/plugins/jquery.waypoints.min.js"></script>
	<script src="js/plugins/jquery.counterup.min.js"></script>
	<script src="js/plugins/owl.carousel.min.js"></script>
	<script src="js/plugins/datatables.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>